@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h5 {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#hero {
  background-image: url("assets/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.item-container {
  @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}

.item {
  @apply relative overflow-hidden md:w-1/4;
}

.item-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("assets/images/mobile/image-hero.jpg");
    background-position: center;
  }
}

/*hamburger*/
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger-middle {
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
}

.hamburger-bottom {
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
  transform: translateY(14px);
}

.open {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.open .hamburger-top {
  -webkit-transform: rotate(45deg) translateY(6px) translateX(6px);
  -moz-transform: rotate(45deg) translateY(6px) translateX(6px);
  -ms-transform: rotate(45deg) translateY(6px) translateX(6px);
  -o-transform: rotate(45deg) translateY(6px) translateX(6px);
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  -webkit-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -moz-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -ms-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  -o-transform: rotate(-45deg) translateY(6px) translateX(-6px);
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
